venv/
Clussifier/__pycache__/
Parser/__pycache__/
~$NaturaLP_ANSWER.xlsx
~$test_data.xlsx
NLP/LaBSE_5.pt
NLP_FORCE/RuBERT_NaturaLP_2.pt
NLP_FORCE/RuBERT_NaturaLP.pt
NLP_FORCE/LaBSE_NaturaLP.pt
__pycache__