.left-block {
    display: flex;
    background-color: #6bd0e2;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow: hidden;
    text-decoration: none;
}

.right-block {
    display: flex;
    background-color: #e7d257;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow: hidden;
    text-decoration: none;
}

.lower-block {
    display: flex;
    background-color: #6e6868;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow: hidden;
    text-decoration: none;
}

.mapLogo {
    position: relative;
    left: 5vw;
    top: 5vh;
}

.dataLogo {
    position: relative;
    left: 2vw;
    top: 9vh;
    width: 70%;
    height: 80%;
}

.calendarLogo {
    position: relative;
    left: 2vw;
    top: 9vh;
    width: 70%;
    height: 80%;
}

.link {
    text-decoration: none;
}

.homepage {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 100px;
}

.video {
    width: fit-content;

    video {
        border-radius: 24px;
    }
}

.content {
    padding: 50px 50px 10px 50px;
    width: 60%;
    min-height: 200px;
}

.swiper {
    height: 100%;
}

.header {
    color: #07c7ee;
    font-size: 40px;
}

.caption {
    color: #07c7ee;
    font-size: 30px;
}

.text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.7px;
    color: white;
}

.textList {
    padding-left: 30px;
    list-style: circle;
}

.textList {
    li {
        margin-top: 10px;
    }
}

.btn {
    margin-top: 35px;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #000;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 6px 6px 2px 1px rgba(0, 238, 255, 0.2);
}
