.container {
    margin-left: 7vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, auto);
}

.left-block {
    display: flex;
    background-color: #6bd0e2;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow:hidden;
    text-decoration: none;
}

.right-block {
    display: flex;
    background-color: #e7d257;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow:hidden;
    text-decoration: none;
}

.lower-block {
    display: flex;
    background-color: #6e6868;
    height: 40vh;
    width: 35vw;
    border-radius: 15px;
    margin-top: 5%;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow:hidden;
    text-decoration: none;
}

.mapLogo {
    position: relative;
    left: 5vw;
    top: 5vh;
}

.dataLogo {
    position: relative;
    left: 2vw;
    top: 9vh;
    width: 70%;
    height: 80%;
}

.calendarLogo {
    position: relative;
    left: 2vw;
    top: 9vh;
    width: 70%;
    height: 80%;
}

.text {
    color: #ffffff;
    font-size: 250%;
    width: 75%;
    word-wrap: break-word;
}

.link {
    text-decoration: none;
}